{% extends "base.html" %}
{% from "macros.html" import render_company, render_job %}

{% block title %}home{% endblock %}

{% block head %}
<div class="jumbotron">
  <div class="container">
    <h1>Web Demo For A Mini Forum</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/PXZ-cecilie" role="button">peixin zhao</a></p>
  </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active">
    <a href="#">lastest post</a>
  </li>
</ul>

<div class="job-list">
  {% for job in jobs %}
    {{ render_job(job) }}
  {% endfor %}
</div>

<p class="list-more">
  <a href="{{ url_for('job.index') }}" class="btn btn-success btn-lg list-more-btn">
    see more
  </a>
</p>

<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active">
    <a href="#">latest user</a>
  </li>
</ul>


<!--
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active">
    <a href="#">最新公司</a>
  </li>
</ul>
-->

<!--
<div class="company-list">
  {% for company in companies %}
    {{ render_company(company) }}
  {% endfor %}
</div>
-->
<div class="user-list">
  {% for user in users %}
    {{ render_company(user) }}
  {% endfor %}
</div>

<p class="list-more">
  <a href="{{ url_for('company.index') }}" class="btn btn-success btn-lg list-more-btn">
    see more
  </a>
</p>


{% endblock %}