{% extends "base.html" %}
{% from "macros.html" import render_pagination, render_article, render_content %}

{% block title %}read contents{% endblock %}


{% block body %}
<div class="jumbotron">
  <h4>read contents</h4>
</div>


<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% if pagination.total == 0 %}
    <div align="center" >
      <img src="{{ url_for('static', filename='images/no_company.png') }}" width="200">
      <h3>no content</h3>
    </div>
{% endif %}

<div class="company-list">
{% for article in pagination.items %}
  {{ render_article(article) }}
  
  <p class="list-more">
    <a href="{{ url_for('user.favorite',article_id = article.id) }}" class="btn btn-success btn-lg list-more-btn">
      favorite
    </a>
  </p> 
  <p class="list-more">
    <a href="{{ url_for('user.promote',article_id = article.id) }}" class="btn btn-success btn-lg list-more-btn">
      vote to promote
    </a>
  </p>
  <p class="list-more">
    <a href="{{ url_for('user.add_tag',article_id = article.id) }}" class="btn btn-success btn-lg list-more-btn">
      add tag
    </a>
  </p>
{% endfor %}
</div>

{{ render_pagination(pagination) }}
{% endblock %}