{% extends "base.html" %}
{% from "macros.html" import render_pagination, render_article, render_content %}

{% block title %}search results{% endblock %}

{% block body %}
<div class="jumbotron">
  <h4>your search result</h4>
</div>

{% if pagination.total == 0 %}
    <div align="center" >
      <img src="{{ url_for('static', filename='images/no_company.png') }}" width="200">
      <h3>no content</h3>
    </div>
{% endif %}

<div class="company-list">
{% for article in pagination.items %}
  {{ render_article(article) }}
{% endfor %}
</div>

{{ render_pagination(pagination,'article.index',kw=kw) }}
{% endblock %}